<ion-view view-title="Flipgame">
    
       <ion-nav-buttons side="left">
<i class="mdi mdi-arrow-left backicon" ng-click="back()"></i>
    </ion-nav-buttons>
    <ion-content>
        
        <div class="timer">
    <div class="timerfill" style="width:{{countDown*1.12}}%"></div>
</div>
<!--<div class="card">
    <div class="item item-text-wrap">-->
        <center>Find matching cards</center>
   <!-- </div>
</div>-->
           
        
      <h4>
        <div>
            <div class="wrappers" ng-repeat="i in getArray(1) track by $index">
                <div class="boxes " ng-repeat="number in cardarray track by $index" ng-click="checkselection($index)"
                     ng-click="checkfornext($parent.$index,$index)" 
                     ng-class=
                     "{spinner:rotate[$index],spinneragain:!rotate[$index],images:!rotate[$index],bgimages:!rotate[$index]}"
                     style="background-image:url({{images[$index]}})">
                   </div>
            </div>
        </div>
   </h4>
        <!-- ng-attr-id="{{rotate[$index]?'spinner':'spinneragain' }}"-->
        <!-- <div id="stage" style="background: rgba(0,0,0,0.5);">
            <p id="spinner" style="background: rgba(0,0,0,0.5); text-align: center; color: #fff;">Stop, I'm getting dizzy!</p>
        </div>-->


       <!-- <center>
            <button class="waves-effect waves-light btn" ng-click="back()" name="action" style="float:left">Back
                <i class="mdi mdi-chevron-double-left" style="float:left"></i>
            </button>
        </center>-->


    </ion-content>
</ion-view>