<ion-view view-title="Game">
    <ion-header-bar>


    </ion-header-bar>
    <ion-content>
        <div class="timer">
            <div class="timerfill" style="width:{{countDown*1.12}}%"></div>
        </div>
        <center>
            <h6>Find matching cards</h6>
        </center>
        <h4>
        <div>
            <div class="wrappers" ng-repeat="i in getArray(1) track by $index">
                <div class="boxes " ng-repeat="number in cardarray track by $index" ng-click="checkselection($index)"
                     ng-click="checkfornext($parent.$index,$index)" 
                     ng-class=
                     "{spinner:rotate[$index],spinneragain:!rotate[$index],images:!rotate[$index],bgimages:!rotate[$index]}"
                     style="background-image:url({{images[$index]}})">
                   </div>
            </div>
        </div>
   </h4>
        <!-- ng-attr-id="{{rotate[$index]?'spinner':'spinneragain' }}"-->
        <!-- <div id="stage" style="background: rgba(0,0,0,0.5);">
            <p id="spinner" style="background: rgba(0,0,0,0.5); text-align: center; color: #fff;">Stop, I'm getting dizzy!</p>
        </div>-->


        <button class="waves-effect waves-light btn" ng-click="back()" name="action" style="float:left">Back
            <i class="mdi mdi-chevron-double-left" style="float:left"></i>
        </button>


    </ion-content>
</ion-view>