<ion-view view-title="Games">
    <ion-content>
        <div class="row">


            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/oddone.jpg">
                        <span class="card-title heading" ></span>
                    </div>
                    <a href="#/app/oddone">
                        <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle"><i class="mdi mdi-arrow-right"></i>
                    </a>
                    </button>

                    <div class="card-content">
                        Odd one out 
                    </div>
                </div>
            </div>
      <!--  </div>

        <div class="row">-->

            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/flipgame.jpg" class="images">
                        <span class="card-title heading"></span>
                    </div>
                    <a href="#/app/flipgame">
                        <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle"><i class="mdi mdi-arrow-right"></i>
                    </a>
                    </button>

                    <div class="card-content">
                       Fliping card
                    </div>
                </div>

            </div>










            <!---->