<ion-view view-title="Games">
    <ion-content>
        <div class="row">


            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/Emotions.png">
                        <span class="card-title heading">Find odd one</span>
                    </div>
                    <a href="#/app/oddone">
                        <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle"><i class="mdi mdi-arrow-right"></i>
                    </a>
                    </button>

                    <div class="card-content">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/concentration.jpg" class="images">
                        <span class="card-title heading">Find matching cards</span>
                    </div>
                    <a href="#/app/flipgame">
                        <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle"><i class="mdi mdi-arrow-right"></i>
                    </a>
                    </button>

                    <div class="card-content">
                    </div>
                </div>

            </div>










            <!---->