<ion-view view-title="Login">
    <ion-header-bar>
        <h1 class="title">Login</h1>

    </ion-header-bar>
    <ion-content>
        <form ng-if="showform">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" ng-model="user.username" ng-change="usernamerequired=''">
                    <label for="username" data-success={{message}}>User Name</label>
                    <span>{{userdoesnotexist}}{{usernamerequired}}</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="user.password" ng-change="passwordrequired=''">
                    <label for="password" data-success={{message}}>Password</label>
                    <span>{{passwordnotmatched}}</span><span>{{passwordrequired}}</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="waves-effect waves-light btn" ng-click="doLogin()"><i class="material-icons left"></i>login</button> <i>Or</i> <a ng-click="forgotpassword()">forgot password ?</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">

                    Not registered yet ?
                    <button class="waves-effect waves-light btn" ng-click="signUp()"><i class="material-icons left"></i>Sign Up</button>
                </div>
            </div>
            <!--<div class="input-field col s6">
                  <a >forgot password ?</a>
                </div>-->


        </form>
        <form ng-if="!showform">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" ng-model="user.username" ng-change="usernamerequired=''">
                    <label for="username" data-success={{message}}>User Name</label>
                    <span>{{userdoesnotexist}}{{usernamerequired}}</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="user.password" ng-change="passwordrequired='';">
                    <label for="password" data-success={{message}}>New password</label>
                    <span>{{passwordnotmatched}}</span><span>{{passwordrequired}}</span>
                </div>
            </div>

            <div class="input-field col s6">


                <button class="waves-effect waves-light btn" ng-click="changepasswordsection()"><i class="material-icons left"></i>Change Password</button>
            </div>



        </form>
    </ion-content>
</ion-view>