<ion-view view-title="Game">
    <ion-header-bar>


    </ion-header-bar>
    <ion-content>

        <h4>
             <div class="timer">
            <div class="timerfill" style="width:{{countDown*7.2}}%"></div>
        </div>
           <div class="card" style="background-color:#c8e6c9 !important">
    <div class="item item-text-wrap">
    <center>Find &nbsp;{{ambiguousletterpairs[random][1]</center>
    </div>
</div>
        

        <div>
            <div class="wrapper" ng-repeat="i in getNumber(8) track by $index">
                <div class="box a" ng-repeat="j in getNumber(8) track by $index" ng-click="checkfornext($parent.$index,$index)">
                    {{$parent.$index==parent && $index==child?ambiguousletterpairs[random][1]:ambiguousletterpairs[random][0]}}</div>
            </div>
        </div>
   </h4>

        <a href="#/app/game">
            <button class="waves-effect waves-light btn" name="action" style="float:left">Back
                <i class="mdi mdi-chevron-double-left" style="float:left"></i>
            </button>


    </ion-content>
</ion-view>