<ion-view view-title="Find odd one">
   <ion-nav-buttons side="left">
<i class="mdi mdi-arrow-left backicon" ng-click="back()"></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="timer">
            <div class="timerfill" style="width:{{countDown*7.2}}%"></div>
        </div>
        <h4>
          
         
        

        <div>
            <div class="wrapper" ng-repeat="i in getNumber(8) track by $index">
                <div class="box a" ng-repeat="j in getNumber(8) track by $index" ng-click="checkfornext($parent.$index,$index)">
                    {{$parent.$index==parent && $index==child?ambiguousletterpairs[random][1]:ambiguousletterpairs[random][0]}}</div>
            </div>
        </div>
   </h4>

       <!-- <a href="#/app/game">
            <button class="waves-effect waves-light btn" name="action" style="float:left">Back
                <i class="mdi mdi-chevron-double-left" style="float:left"></i>
            </button>-->


    </ion-content>
</ion-view>