<ion-view view-title="Options">
    <ion-content>
        <div class="row">
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/concentration.jpg" class="images">
                        <span class="card-title heading">Concentration</span>
                    </div>
                    <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle" ng-click="getCatId('cocentration')"><i class="mdi mdi-arrow-right"></i></button>

                    <div class="card-content">
                       <!-- <p>Concentration is the root of all the higher abilities in human.</p>-->
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/nutrition.jpg">
                        <span class="card-title heading">Nutrition</span>
                    </div>
                    <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle" ng-click="getCatId('personality')"><i class="mdi mdi-arrow-right"></i></button>

                    <div class="card-content">
                       <!-- <p>You are what you eat.What would you like to be ? </p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/Emotions.png">
                        <span class="card-title heading">EQ</span>
                    </div>
                    <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle" ng-click="getCatId('eq')"><i class="mdi mdi-arrow-right" ></i></button>

                    <div class="card-content">
                      <!--  <p>If you are tuned out of your own emotions,you will be poor at reading them in other people.</p>-->
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/iq.jpg">
                        <span class="card-title heading">IQ</span>
                    </div>
                    <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle" ng-click="getCatId('iq')"><i class="mdi mdi-arrow-right"></i></button>

                    <div class="card-content">
                        <!--<p>In a high-IQ job pool, soft skills like discipline, drive, and empathy mark those who emerge as excellent.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
           <!-- <div class="col">

            </div>-->
            <div class="col col-50">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/stress.jpg">
                        <span class="card-title heading">Stress</span>
                    </div>
                    <button class="btn-floating halfway-fab waves-effect waves-light red buttonstyle" ng-click="getCatId('stress')"><i class="mdi mdi-arrow-right"></i></button>

                    <div class="card-content">
                       <!-- <p>God will never give you anything you can't handle.So don't take stress.</p>-->
                    </div>
                </div>
            </div>
           <!-- <div class="col">

            </div>-->
             <!--<div class="col">
  </div>
            -->
        </div>
    </ion-content>
</ion-view>