<ion-view view-title="Options">
    <ion-content>
        <div class="row">
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/concentration.jpg" class="images">
                        <span class="card-title">Concentration</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="mdi mdi-arrow-right"></i></a>

                    <div class="card-content">
                        <p>Concentration is the root of all the higher abilities in human.</p>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/nutrition.jpg">
                        <span class="card-title">Nutrition</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="mdi mdi-arrow-right"></i></a>

                    <div class="card-content">
                        <p>Our food should be our medicine and our medicine should be our food.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/emotions.png">
                        <span class="card-title">EQ</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" ><i class="mdi mdi-arrow-right" ></i></a>

                    <div class="card-content">
                        <p>If you are tuned out of your own emotions,you will be poor at reading them in other people.</p>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/iq.jpg">
                        <span class="card-title">IQ</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="getIqQuestions()"><i class="mdi mdi-arrow-right"></i></a>

                    <div class="card-content">
                        <p>In a high-IQ job pool, soft skills like discipline, drive, and empathy mark those who emerge as outstanding.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col col-50 s3 m2">
                <div class="card mycard">
                    <div class="card-image">
                        <img src="img/stress.jpg">
                        <span class="card-title">Stress</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="mdi mdi-arrow-right"></i></a>

                    <div class="card-content">
                        <p>God will never give you anything you can't handle.So don't take stress.</p>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </ion-content>
</ion-view>