/* Empty. Add your own CSS if you like */

.images {}

.heading {
    font-size: 15px !important;
    padding: 5px !important;
    font-weight:500 !important;
}

.buttonstyle {
    float: right;
    margin-top: -20px;
    margin-right: 1px;
}
.questionimg
{

width:50% !important;
    height:50 !important%;


}
.questiontext
{
text-align: -webkit-center;
    margin-top: 50%;
vertical-align: middle !important;
   
     animation-name: example;
    animation-duration: 5s;
   transform: scale(1,1);

}
@keyframes example {
     from {transform: scale(0.5,0.5);
      
   
    }
    to {
          
        
        transform: scale(1,1);
        /*transition-delay: 3s;
         transform: scale(0,0);
       transition-timing-function: ease-in-out;*/
    
    }
}
