/* Empty. Add your own CSS if you like */

.images {}

.heading {
    font-size: 15px !important;
    padding: 5px !important;
    font-weight: 500 !important;
}

.buttonstyle {
    float: right;
    margin-top: -20px;
    margin-right: 1px;
}

.questionimg {
    width: 50% !important;
    height: 50 !important%;
}

.questiontext {
    text-align: -webkit-center;
    margin-top: 50%;
    vertical-align: middle !important;
    animation-name: example;
    animation-duration: 5s;
    transform: scale(1, 1);
}

.questiondiv {
    margin-top: 5% !important;
}

@keyframes example {
    from {
        transform: scale(0.5, 0.5);
    }
    to {
        transform: scale(1, 1);
        /*transition-delay: 3s;
         transform: scale(0,0);
       transition-timing-function: ease-in-out;*/
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-gap: 2px;
    grid-template-rows: repeat(2, 0.001fr);
    grid-row-gap: 2px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 10%;
    text-align: center;
    padding: 25%;
    font-size: 50%;
}

.wrappers {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 2%;
    grid-template-rows: repeat(2, 0.001fr);
    grid-row-gap: 10px;
    background-color: #fff;
    color: #444;
}

.boxes {
    background-color: #444;
    color: #fff;
    border-radius: 10%;
    text-align: center;
    padding: 50%;
    font-size: 50%;
}

@keyframes spinner {
    from {
        background-size: 100%;
        background-repeat: no-repeat;
        -webkit-transition: 1s;
        transition: 1s;
        background-position-x: 50%;
        background-position-y: 50%;
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes spinneragain {
    from {
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

.spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.spinneragain {
    -webkit-animation-name: spinneragain;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    animation-name: spinneragain;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.second .item-content {
    background-color: #ffe0b2;
    word-spacing: 2px !important;
}

.first .item-content {
    background-color: #e1bee7;
}

.third .item-content {
    background-color: #b9f6ca;
}

.forth .item-content {
    background-color: #f8bbd0;
}

#mybutton {
    position: fixed !important;
    bottom: -4px;
    right: 10px;
}

.mycards .collapsible-header {
    background-color: #d50000;
    color: azure;
    font-size: larger;
}

.timer {
    height: 8px;
}

.popuptext {
    font-size: inherit;
    font-family: sans-serif;
}

.popuptext h5 {
    font-family: serif;
}

.timerfill {
    height: 8px;
    background-color: rgb(68, 68, 68);
    transition: 2s ease;
    color: white;
    width: 0%;
    padding: 3px;
}

.bar.bar-stable .title {
    color: snow !important;
}

.bar.bar-stable .mybutton {
    color: snow !important;
}

.bar-stable .mymenu {
    background-color: #26a69a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.bar-stable .mymenu1 {
    background-color: #26a69a;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.bar.bar-stable {
    background-color: #26a69a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.images {
    /*transition-delay: 2s;*/
    
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: 1s;
    transition: 1s;
    background-position-x: 50%;
    background-position-y: 50%;
}

.errormessage {
    color: #f44336;
}